:root[data-theme='banco-a'] {
  --first-color: #005689;
  --second-color: #007cb9;
  --third-color: #d5eeff;
  --fourth-color: #e4f1fe;
  --text-color: white;
  --font-family-base: 'Inter', sans-serif;
  --transition-normal: 0.3s ease;
}
