:root[data-theme='banco-a'] {
  --first-color: #005689;
  --second-color: #007cb9;
  --third-color: #d5eeff;
  --fourth-color: #e4f1fe;
  --text-color: white;
  --font-family-base: 'Inter', sans-serif;
  --transition-normal: 0.3s ease;
  --header-color: #e4f1fe;
  --table-row-color: #3a3a3a;
  --table-row-header-color: #cccccc;
  --table-row-selected-color: #d6d6d6;
  --sidebar-color: #005689;
  --sidebar-btn-color: rgb(0, 99, 156);
}
