:root[data-theme='banco-b'] {
  --first-color: #90f6d7;
  --second-color: #35bcbf;
  --third-color: #41506b;
  --fourth-color: #263849;
  --text-color: black;
  --font-family-base: 'Inter', sans-serif;
  --transition-normal: 0.3s ease;
}
