:root {
  --font-family-base: 'Inter', sans-serif;
  --font-size-base: 16px;
  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 32px;

  --border-radius-sm: 4px;
  --border-radius-md: 8px;
  --border-radius-lg: 16px;
  --transiton-fast: 0.2s ease;
  --transition-normal: 0.3s ease;
}
